<a href="https://colab.research.google.com/github/21pa1a6135/numpy/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
x = np.array([1,2,3])
print(x)
 
y=np.array([[1,2,3],[4,5,6]])
print(y)

np.arange(10,30,5)

[1 2 3]
[[1 2 3]
 [4 5 6]]

array([10, 15, 20, 25])

In [6]:
import numpy as ap
x=[1,2,3]
b = np.append(x,[6,4,2])
print(b)

[1 2 3 6 4 2]

In [7]:
import numpy as np
x=[1,2,3]
print("The elements in X before deleting",x)
newarray = np.delete(x,2) # Element at index 2 is removed.
print("The elements in X after deleting",newarray)

The elements in X before deleting [1, 2, 3]
The elements in X after deleting [1 2]

In [8]:
import numpy as np
b = np.array([6,4,1,3,5,9])
b[b<4] = -1 # Elements less than 4 are replaced with "-1"
print(b)

[ 6  4 -1 -1  5  9]

In [12]:
import numpy as np
a = np.array( [20,30,40,50] )
b = np.arange( 4 )
print("The elements in a are",a)
print("The elements in b are",b)
print("Result after Addition",a+b)
print("Result after substraction",a-b)
print("Result after multiplication",a*b)
print("Result after division",a/b)

The elements in a are [20 30 40 50]
The elements in b are [0 1 2 3]
Result after Addition [20 31 42 53]
Result after substraction [20 29 38 47]
Result after multiplication [  0  30  80 150]
Result after division [        inf 30.         20.         16.66666667]

<ipython-input-12-5978a4076593>:9: RuntimeWarning: divide by zero encountered in true_divide
  print("Result after division",a/b)

In [16]:
import numpy as np
a= [1,2,3,4,5,6,7,8,9,10]
print("The output of a[2] is", a[2]) 
print("The output of a[2:4] is",a[2:4])
print("The output of a[-1] is",a[-1]) 
print("The output of a[-2] is",a[-2])
print("The output of a[-5:-2] is",a[-5:-2])

The output of a[2] is 3
The output of a[2:4] is [3, 4]
The output of a[-1] is 10
The output of a[-2] is 9
The output of a[-5:-2] is [6, 7, 8]

In [17]:
import numpy as np
a=np.floor(10*np.random.random((3,4))) # Create a rondom 3*4 matrix.
print("Let's consider a 1-D array\n",a)
print("After reshaping to 2 by 6 matrix\n",a.reshape(2,6))
print("To Flatten the array\n",a.ravel())
print("To transpose the array\n",a.T)

Let's consider a 1-D array
 [[2. 3. 7. 7.]
 [2. 1. 6. 9.]
 [5. 5. 8. 8.]]
After reshaping to 2 by 6 matrix
 [[2. 3. 7. 7. 2. 1.]
 [6. 9. 5. 5. 8. 8.]]
To Flatten the array
 [2. 3. 7. 7. 2. 1. 6. 9. 5. 5. 8. 8.]
To transpose the array
 [[2. 2. 5.]
 [3. 1. 5.]
 [7. 6. 8.]
 [7. 9. 8.]]

In [20]:
a=np.arange(12).reshape(4,3)  

print("Let's consider an array\n",a)
print("\n")
for i in a:
    print(i*2)

Let's consider an array
 [[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]


[0 2 4]
[ 6  8 10]
[12 14 16]
[18 20 22]